.about_main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;
  position: relative;
}
.about_back {
  width: 100%;
  height: 100%;
  background-color: #edeeef;
}
.about_page {
  display: flex;
  gap: 1%;
  max-width: 1140px;
  width: 100%;
  /* height: 70%; */
  padding: 50px 0;
  margin-left: auto;
  margin-right: auto;
}
.about_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.about_img {
  width: 100%;
  height: fit-content;
  border-radius: 50%;
  margin-bottom: 20px;
}
.about_logo_path {
  color: #000000;
}

.socials {
  display: flex;
  gap: 10px;
}
.about_right {
  width: 69%;
  text-align: left;
}
.about_intro {
  margin: 10px 0;
  font-size: 18px;
}
.about_name {
  font-size: 22px;
}
.about_minor {
  font-size: 18px;
  margin-bottom: 10px;
  color: #575757;
}
.paths {
  margin: 30px 0;
}
.resume_icon {
  position: relative;
  top: 5px;
}
.about_path {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 5px;
  font-weight: 500;
  color: black;
}
.resume_about {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700 !important;
  margin: 0 10px;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  background: darkgray;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1124px) {
  .about_page {
    max-width: 90%;
  }
  .about_intro {
    font-size: 15px;
  }
  .about_name {
    font-size: 22px;
  }
  .about_minor {
    font-size: 15px;
  }
}
@media (max-width: 845px) {
  .about_name {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
  }
  .about_page {
    padding: 100px 0;
  }
  .path_above {
    font-size: 45px;
  }
}
@media (max-width: 745px) {
  .about_page {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 100px 0 50px 0;
  }
  .about_left {
    width: 50%;
  }
  .about_right {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 540px) {
  .about_name {
    width: 60%;
    text-align: center;
    position: absolute;
    top: 50px;
    margin: auto;
    margin-bottom: 20px;
  }
  .ii {
    display: none;
  }
  .about_page {
    padding: 150px 0 50px 0;
  }
  .path_above {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .path_above {
    font-size: 30px;
  }
}
@media (max-width: 540px) {
  .about_name {
    width: 80%;
  }
}
@media (max-width: 380px) {
  .paths {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }
  .about_path {
    padding: 10px 45px;
  }
}
@media (max-width: 340px) {
  .path_above {
    font-size: 25px;
  }
}
@media (max-width: 324px) {
  .about_name {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50px;
    margin: auto;
    margin-bottom: 20px;
  }
  .about_path {
    padding: 10px 25px;
  }
}
@media (min-width: 769px) {
  .about_logo_path:hover {
    transform: scale(1.1);
  }
  .resume_about:hover {
    background-color: rgb(43, 43, 43);
    color: #edeeef;
  }
}
